* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  --bright: #F2FBFF;
  --light: #98CCF4;
  --medium: #4588E9;
  --dark: #2C37A1;
}

body {
  margin: 0 auto;
  width: min-content;
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1rem;
  margin: 0 1rem 0 0;
}

code {
  font-size: 0.8rem;
  margin: 0.1rem 0;
  font-family: 'Iosevka Web', monospace;
}

pre {
  font-family: 'Iosevka Web', monospace;
}

header {
  display: flex;
  background: var(--bright);
  padding: 8px 8px;
  justify-content: space-between;
  border-radius: 0 0 6px 6px;
}

main {
  flex: 1;
  overflow-y: auto;
}

main>* {
  width: 337px;
}

main>pre {
  width: 353px;
}

footer {
  background: var(--bright);
  padding: 8px 8px;
  border-radius: 6px 6px 0 0;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.row>*:not(:last-child) {
  margin-right: 8px;
}

.row_expand {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

label {
  display: block;
}

.field {
  border: 2px solid var(--light);
  border-radius: 6px;
  padding: 4px 8px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.field:focus-within,
.group.focusable:focus-within {
  border-color: var(--dark);
}

input {
  border: none;
  font-size: 20px;
  background: none;
  padding: 0;
  margin: 0;
}

button:focus,
input:focus {
  outline: none;
}

.group {
  display: flex;
  border-radius: 6px;
  border: 2px solid var(--light);
  margin: 8px;
  overflow: hidden;
  gap: 2px;
  background: var(--light);
  flex: 0 0 auto;
}

.group label,
.group button {
  position: relative;
  background: #fff;
  border: none;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

:focus>svg,
:checked+svg {
  color: var(--dark);
}

.group input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

svg {
  width: 24px;
  height: 24px;
  display: block;
}

footer svg {
  width: 36px;
  height: 36px;
}

.group * {
  display: block;
}

main pre {
  padding: 0 18px 8px;
  overflow-x: auto;
  margin: 0;
}

#result:empty::after {
  color: gray;
  content: '(no records yet)';
}

.row pre {
  margin: 4px 0;
}

button {
  padding: 8px;
}

label:focus-within,
button:focus {
  background: var(--bright);
}

*[hidden] {
  display: none !important;
}